<div class="card card-type-asset file-card">
    <div class="aspect-ratio card-item-first">
			<lfr-editable id="Image" type="image">
				<img alt="thumbnail" class="aspect-ratio-item aspect-ratio-item-center-middle aspect-ratio-item-fluid"
            src="/images/thumbnail_coffee.jpg" />
			</lfr-editable>
    </div>
    <div class="card-body">
        <div class="card-row">
            <div class="autofit-col autofit-col-expand">
                <section class="autofit-section">
                    <h3 class="card-title" title="thumbnail_coffee.jpg">
                        <span class="text-truncate-inline">
													<lfr-editable id="Header" type="link">
														<a class="text-truncate" href="#1">thumbnail_coffee.jpg</a>
													</lfr-editable>
                        </span>
                    </h3>
                    <p class="card-subtitle">
                        <span class="text-truncate-inline">
                            <span class="text-truncate">
													<lfr-editable id="SubTitle" type="text"></lfr-editable>
													</span>
                        </span>
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>