<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="${themeDisplay.getURLHome()}">
                <div class="sidebar-brand-icon">
                    <img src="${themeDisplay.getCompanyLogo()}" style="max-width:120px" />
                </div>
                <!--<div class="sidebar-brand-text mx-3">${company.getName()}</div>-->
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
					
					[@liferay.navigation_menu /]

           

           


        </ul>
        <!-- End of Sidebar -->