<div class="service_card m-4">
    <div class="box-part text-center">
        <lfr-editable id="image" type="image">
					<img src=""  class="img" />
			</lfr-editable>
        <div class="title">
					<h4>
						<lfr-editable id="header" type="text"></lfr-editable>
					</h4>
        </div>
        <div class="text">
            <span>
                <lfr-editable id="description" type="text"></lfr-editable>
            </span>
        </div>
			<lfr-editable id="readmore" type="link">
				<a href="#">Learn More</a>
			</lfr-editable>
        
    </div>
</div>