<div class="card border-${configuration.borderPlacment}-${configuration.borderColor}  h-100 py-2 ${configuration.shadow} animate__animated ${configuration.animationType}">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <lfr-editable id="title" type="link">
																									<a></a>
																							</lfr-editable>
																					</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
																					<lfr-editable id="subtitle" type="text"></lfr-editable>
																					</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="${configuration.cardIcon} fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>