<div class="p-2">
  <div class="autofit-row">
    <div class="autofit-col autofit-col-expand">
      <div class="form-group">
        <label for="accounts" data-lfr-editable-id="Select-Account" data-lfr-editable-type="text">Select Account</label>
        <select class="form-control" id="accounts" onchange="loadCarts()">
        </select>
      </div>
    </div>
  </div>
  <div class="autofit-row">
    <div class="autofit-col autofit-col-expand">
      <div class="form-group">
        <label for="accounts" data-lfr-editable-id="Select-Cart" data-lfr-editable-type="text">Select Cart</label>
        <select class="form-control" id="carts">
        </select>
      </div>
    </div>
  </div>
  <div class="autofit-row">
    <div class="autofit-col autofit-col-expand">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button id="start-button" class="btn btn-primary"><span data-lfr-editable-id="btn-scan" data-lfr-editable-type="text">Scan</span></button>
        <button id="stop-button" class="btn btn-danger"><span data-lfr-editable-id="btn-stop" data-lfr-editable-type="text">Stop</span></button>
      </div>
    </div>
  </div>
  <div class="autofit-row">
    <div class="autofit-col autofit-col-expand">
      <strong data-lfr-editable-id="detected-code" data-lfr-editable-type="text">Detected QR code: </strong>
      <span id="cam-qr-result">None</span>
      <br>
      <strong data-lfr-editable-id="detected-code-date-time" data-lfr-editable-type="text">Last detected at: </strong>
      <span id="cam-qr-result-timestamp"></span>
      <br>
      <div id="video-container" class="d-none">
        <h3 data-lfr-editable-id="scan-your-qr-label" data-lfr-editable-type="text">Scan Your QR Here</h3>
        <video id="qr-video" style="width: 100%!important;"></video>
      </div>
    </div>
  </div>
</div>
<script>
  function clearSelectOptions(id) {
    var selectobject = document.getElementById(id);
    for (var i = 0; i < selectobject.length; i++) {
      selectobject.remove(i);
    }
  }
  function loadCarts() {
    clearSelectOptions("carts");
    var accountId = document.getElementById("accounts").value;
    var channelId = "${configuration.channelId}";
    console.log(accountId)
    Liferay.Util.fetch(
      '/o/headless-commerce-delivery-cart/v1.0/channels/' + channelId + '/account/' + accountId + '/carts'
    ).then(
      response => {
        const { status } = response;

        const responseContentType = response.headers.get('content-type');

        if (status === 204) {
          return { status };
        }
        else if (response.ok && responseContentType === 'application/json') {
          return response.json();
        }
        else {
          return response.text();
        }
      }
    ).then(response => {

      for (var index = 0; index < response.totalCount; index++) {
        var item = response.items[index];
        var option = document.createElement("option");
        option.text = item.id;
        option.value = item.id;
        var select = document.getElementById("carts");
        select.appendChild(option);
      }
      if (response.totalCount == 0)
        createCart();
    });
  }
  function createCart() {
    var channelId = "${configuration.channelId}";
    var accountId = document.getElementById("accounts").value;
    let contentType = 'application/json';
    let data = {
      "accountId": accountId,
      "currencyCode": "${configuration.currencyCode}"
    };
    let method = 'POST';

    let request;

    if (contentType === 'application/json') {
      request = {
        body: JSON.stringify(data),
        headers: {
          'Content-Type': contentType
        },
        method: method
      };
    }
    else if (contentType === 'multipart/form-data') {
      const formData = new FormData();

      for (const name in data) {
        formData.append(name, data[name]);
      }

      request = {
        body: formData,
        method: method
      };
    }

    Liferay.Util.fetch(
      '/o/headless-commerce-delivery-cart/v1.0/channels/' + channelId + '/carts',
      request
    ).then(
      response => {
        const { status } = response;

        const responseContentType = response.headers.get('content-type');

        if (status === 204) {
          return { status };
        }
        else if (response.ok && responseContentType === 'application/json') {
          return response.json();
        }
        else {
          return response.text();
        }
      }
    ).then(response => {
      loadCarts();
    });
  }
  function addToCart(skuId) {
    let contentType = 'application/json';
    let data = {
      "quantity": "1",
      "skuId": skuId,
      options: "[]"
    };
    let method = 'POST';

    let request;

    if (contentType === 'application/json') {
      request = {
        body: JSON.stringify(data),
        headers: {
          'Content-Type': contentType
        },
        method: method
      };
    }
    else if (contentType === 'multipart/form-data') {
      const formData = new FormData();

      for (const name in data) {
        formData.append(name, data[name]);
      }

      request = {
        body: formData,
        method: method
      };
    }
    cartId = document.getElementById("carts").value;
    Liferay.Util.fetch(
      '/o/headless-commerce-delivery-cart/v1.0/carts/' + cartId + '/items',
      request
    ).then(
      response => {
        const { status } = response;

        const responseContentType = response.headers.get('content-type');

        if (status === 204) {
          return { status };
        }
        else if (response.ok && responseContentType === 'application/json') {
          return response.json();
        }
        else {
          return response.text();
        }
      }
    ).then(response => {
      alert("Product Id:" + response.id + " has been added to your cart!");
    });
  }
  function loadAccounts() {
    clearSelectOptions("accounts");
    Liferay.Util.fetch(
      '/o/headless-commerce-admin-account/v1.0/accounts'
    ).then(
      response => {
        const { status } = response;

        const responseContentType = response.headers.get('content-type');

        if (status === 204) {
          return { status };
        }
        else if (response.ok && responseContentType === 'application/json') {
          return response.json();
        }
        else {
          return response.text();
        }
      }
    ).then(response => {
      for (var index = 0; index < response.items.length; index++) {
        var item = response.items[index];
        var option = document.createElement("option");
        option.text = item.name;
        option.value = item.id;
        var select = document.getElementById("accounts");
        select.appendChild(option);
      }
      loadCarts();
    });
  }
  loadAccounts();
</script>
<script type="module">
  import QrScanner from "[resources:qr-scanner.min.js]";
  const video = document.getElementById('qr-video');
  const videoContainer = document.getElementById('video-container');
  const camHasCamera = document.getElementById('cam-has-camera');
  const camList = document.getElementById('cam-list');
  const camHasFlash = document.getElementById('cam-has-flash');
  const flashToggle = document.getElementById('flash-toggle');
  const flashState = document.getElementById('flash-state');
  const camQrResult = document.getElementById('cam-qr-result');
  const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
  function setResult(label, result) {
    console.log(result.data);
    label.textContent = result.data;
    addToCart(result.data);
    camQrResultTimestamp.textContent = new Date().toString();
    label.style.color = 'teal';
    clearTimeout(label.highlightTimeout);
    label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
    scanner.stop();
    document.getElementById("video-container").setAttribute("class", "d-none");
  }
  // ####### Web Cam Scanning #######
  const scanner = new QrScanner(video, result => setResult(camQrResult, result), {
    onDecodeError: error => {
      camQrResult.textContent = error;
      camQrResult.style.color = 'inherit';
    },
    highlightScanRegion: true,
    highlightCodeOutline: true,
  });
  const updateFlashAvailability = () => {
    scanner.hasFlash().then(hasFlash => {
      camHasFlash.textContent = hasFlash;
      flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
    });
  };
  QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
  // for debugging
  window.scanner = scanner;
  document.getElementById('start-button').addEventListener('click', () => {
    document.getElementById("video-container").setAttribute("class", "");
    scanner.start();
  });
  document.getElementById('stop-button').addEventListener('click', () => {
    document.getElementById("video-container").setAttribute("class", "d-none");
    scanner.stop();
  });

</script>
<style>
  #video-container {
    line-height: 0;
  }
  #video-container.example-style-1 .scan-region-highlight-svg,
  #video-container.example-style-1 .code-outline-highlight {
    stroke: #64a2f3 !important;
  }
  #video-container.example-style-2 {
    position: relative;
    width: max-content;
    height: max-content;
    overflow: hidden;
  }
  #video-container.example-style-2 .scan-region-highlight {
    border-radius: 30px;
    outline: rgba(0, 0, 0, .25) solid 50vmax;
  }
  #video-container.example-style-2 .scan-region-highlight-svg {
    display: none;
  }
  #video-container.example-style-2 .code-outline-highlight {
    stroke: rgba(255, 255, 255, .5) !important;
    stroke-width: 15 !important;
    stroke-dasharray: none !important;
  }
  #flash-toggle {
    display: none;
  }

  hr {
    margin-top: 32px;
  }

  input[type="file"] {
    display: block;
    margin-bottom: 16px;
  }
</style>