<div class=" fragment_login d-flex"> 
	<div class="login_card mt-8 mx-auto">
	                <div class="card fullHeight o-hidden border-0 shadow-lg">
                    <div class="card-body p-0 fullHeight">
                        <!-- Nested Row within Card Body -->
                        <div class="row fullHeight">
                            <div  data-lfr-background-image-id="image" class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">
																					<lfr-editable id="Title" type="text"></lfr-editable>
																			</h1>
                                    </div>
                                    <lfr-drop-zone></lfr-drop-zone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
	
</div>