<div class="card m-3 ${configuration.shadow} animate__animated ${configuration.animationType}  ">
                                <div class="card-header">
																	<h6 class="m-0 font-weight-bold text-primary"><lfr-editable id="title" type="text"></lfr-editable></h6>
                                    
                                </div>
                                <div class="card-body">
                                   <lfr-drop-zone></lfr-drop-zone>
                                </div>
                            </div>