<div class="list-group-item list-group-item-flex">
    <div class="autofit-col d-flex">
        <div class="sticker sticker-secondary m-auto"> <i class=" ${configuration.cardIcon}  text-gray-300"></i></div>
    </div>
    <div class="autofit-col autofit-col-expand">
            <lfr-editable id="title" type="link" class="list-group-title text-truncate">
                <a class="list-group-title text-truncate"></a>
            </lfr-editable>
       <lfr-editable id="subtitle" type="text" class="list-group-subtitle text-truncate small"></lfr-editable>
    </div>
</div>