<div class="main-container">
	<div class="fixed-header">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
	<div class="content-box p-4">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
		<div class="fixed-footer shadow-lg">
		<footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><lfr-editable id="footer" type="text"></lfr-editable></span>
                    </div>
                </div>
</footer>
	</div>
</div>